
@keyframes ripple-size-effect {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.8;
  }
  100% {
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

.ripple-container {
  position: relative;
  overflow: hidden;
}

.ripple-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  /* Width and height are now animated */
  width: 0;
  height: 0;
  background-color: transparent;
  /* The border width will now remain constant */
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  /* Transform is now only for centering */
  transform: translate(-50%, -50%);
  /* Slower and softer animation */
  animation: ripple-size-effect 4.5s infinite ease-in-out;
}
